*{
  overflow: hidden;
}
.App {
  text-align: center;
}
.App-header{
  background-color:#969a83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color:white;

}
.cellInput{
  width:50px;
  height:50px;
  font-size:20px;
  text-align:center;
  padding:0px;
  border:1px solid black;
}
table{
  border-collapse: collapse;
  border:3px solid bisque;
  background-color: bisque;
  /* border-radius: 100px; */
}
td{
  padding: 0px;
}
.buttonContainer{
  margin-top: 20px;
  display: flex;
  gap: 10px;

}
.solveButton{
  background-color: orange;
  font-weight:bold;
  padding:12px 20px;
  border:none;
  border-radius: 20px;
  font-size: 15px;


}
.rborder{
  border-bottom: 2px solid black;
}
.cborder{
  border-right: 2px solid black;
}
.checkButton{
  background-color: tomato;
  font-weight:bold;
  padding:12px 20px;
  border:none;
  border-radius: 20px;
  font-size: 15px;

}
.resetButton{
  background-color: aquamarine;
  font-weight:bold;
  padding:12px 20px;
  border:none;
  border-radius: 20px;
  font-size: 15px;
}
h3{
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family:sans-serif;
  font-weight: bold;
}